@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .brand-name{
        /* font-size: 3rem; */
        margin-bottom: 20px;
    }
    .nav-links{
        font-size: 1.8rem;
        
        margin: 0 auto;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}