/* small size device */

@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .brand-name{
        /* font-size: 3rem; */
        margin-bottom: 20px;
    }
    .nav-links{
        font-size: 1.8rem;
        
        margin: 0 auto;
    }
    .team-img-container ,
    .facts-container ,
    .sponsors-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .some-facts{
        margin-top: 0px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
        margin-top: 50px;
        margin-left: 0px;
    }
    .section-title , .section-description{
        text-align: center;
    }
    .sponsors-container{
        justify-items: center;
        gap: 50px;}

    

}

/* medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner-description{
        margin-left: 30px;
        margin-right: 30px;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px auto;
    }
    /* .facts-container{
        margin-left: 100px;
    } */
    .our-sponspors{
        margin-top: 80px;
        /* margin-left: 100px; */
    }
    .sponsors-container, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;

    }
   
}