@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}
:root{
    --primary-color: #FF900E;
    --dark-02: #424242;
    --dark-03: #727272;
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;  /* dark 01 */
    margin-bottom: 24px;
}
.section-description{
    font-size: 1rem;
    color: var(--dark-03);
    margin-bottom: 32px;
    max-width: 540px;
}

/* header styles */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-02);  /* dark 02 */
}
.navbar, .banner{
    max-width:1440px ;
    margin: 0 auto;
}
/* banner styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description {
    font-size: 1rem;
    color: var(--dark-03);
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}

/* teams and features styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 75px;
    max-width: 535px;
}

#quick-list{
    color: var(--dark-03);
    font-weight: 500;
}
#features{
    color: var(--primary-color);
}
/* some-facts styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-02);
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-03);
    margin-top: 10px;
}

